<Configuration>
    <Appenders>
        <Console name="ConsoleWarning" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>

        <Console name="ConsoleDebug" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>

        <Console name="ConsoleTrace" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>

        <File name="CalculAppender" fileName="logs/calcul.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="HibernateAppender" fileName="logs/hibernate.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="ImportAppender" fileName="logs/import.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="GeneralAppender" fileName="logs/general.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>


        <File name="SuiviEquilibrage" fileName="logs/equilibrage.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="SuiviClassificateur" fileName="logs/classificateur.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="SuiviSimulation" fileName="logs/simulation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="Warnings" fileName="logs/warnings.log">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="analyzor.modele.arbre.RecuperateurRange" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="CalculAppender"/>
        </Logger>

        <Logger name="analyzor.modele.arbre.classificateurs.Classificateur" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="SuiviClassificateur"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.algos.ClusteringHierarchique" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.algos.DBScan" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.algos.ClusteringKMeans" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.HierarchiqueEquilibrage" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.HierarchiqueSPRB" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviClassificateur"/>
        </Logger>

        <Logger name="analyzor.modele.clustering.HierarchicalBetSize" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviClassificateur"/>
        </Logger>

        <Logger name="analyzor.modele.denombrement.combos.ComboDenombrable" level="trace" additivity="true">

        </Logger>

        <Logger name="analyzor.modele.equilibrage.ProbaEquilibrage" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.equilibrage.ArbreEquilibrage" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.equilibrage.leafs.NoeudEquilibrage" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.equilibrage.Equilibrateur" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="SuiviEquilibrage"/>
        </Logger>

        <Logger name="analyzor.modele.estimation.Estimateur" level="trace" additivity="true">
            <AppenderRef ref="CalculAppender"/>
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="SuiviEquilibrage"/>
            <AppenderRef ref="SuiviClassificateur"/>
        </Logger>

        <Logger name="analyzor.modele.estimation.GestionnaireFormat" level="trace" additivity="true">
            <AppenderRef ref="CalculAppender"/>
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.denombrement.EnregistreurRange" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
            <AppenderRef ref="CalculAppender"/>
        </Logger>

        <Logger name="analyzor.modele.denombrement.NoeudDenombrable" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="CalculAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.LecteurPartie" level="trace" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.EnregistreurPartie" level="info" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>

        <Logger name="analyzor.modele.bdd.ConnexionBDD" level="trace" additivity="true">
            <AppenderRef ref="GeneralAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.GestionnaireRoom" level="trace" additivity="true">
            <AppenderRef ref="GeneralAppender"/>
        </Logger>

        <Logger name="analyzor.modele.simulation.TablePoker" level="trace" additivity="true">
            <AppenderRef ref="SuiviSimulation"/>
        </Logger>


        <Logger name="org.hibernate.SQL" level="trace" additivity="true">
            <AppenderRef ref="HibernateAppender"/>
        </Logger>

        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="true">
            <AppenderRef ref="HibernateAppender"/>
        </Logger>

        <Logger name="com.zaxxer.hikari.HikariConfig" level="trace" additivity="true">
            <AppenderRef ref="HibernateAppender"/>
        </Logger>


        <Root level="warn">
            <AppenderRef ref="ConsoleWarning"/>
            <AppenderRef ref="Warnings"/>
        </Root>

    </Loggers>

</Configuration>
