<Configuration>
    <Appenders>
        <File name="GeneralAppender" fileName="logs/general.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="CalculAppender" fileName="logs/calcul.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

        <File name="ImportAppender" fileName="logs/import.log">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="analyzor.controleur.ControleurPrincipal" level="trace" additivity="true">
            <AppenderRef ref="GeneralAppender"/>
        </Logger>

        <Logger name="analyzor.modele.estimation.Estimateur" level="trace" additivity="true">
            <AppenderRef ref="CalculAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.LecteurPartie" level="trace" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>
    </Loggers>

</Configuration>
