<Configuration>
    <Appenders>
        <Console name="ConsoleWarning" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Console name="ConsoleDebug" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Console name="ConsoleTrace" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="HibernateAppender" fileName="logs/hibernate.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="ImportAppender" fileName="logs/import.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="GeneralAppender" fileName="logs/general.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="CalculAppender" fileName="logs/calcul.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="analyzor.modele.arbre.RecuperateurRange" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.equilibrage.leafs.ComboDenombrable" level="trace" additivity="true">
            <AppenderRef ref="ConsoleTrace"/>
        </Logger>

        <Logger name="analyzor.modele.equilibrage.Equilibrateur" level="trace" additivity="true">
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.estimation.Estimateur" level="trace" additivity="true">
            <AppenderRef ref="CalculAppender"/>
            <AppenderRef ref="ConsoleDebug"/>
        </Logger>

        <Logger name="analyzor.modele.denombrement.NoeudDenombrable" level="trace" additivity="true">
            <AppenderRef ref="CalculAppender"/>
            <AppenderRef ref="ConsoleTrace"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.winamax.LecteurWinamax" level="trace" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.ipoker.LecteurIPoker" level="trace" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.EnregistreurPartie" level="trace" additivity="true">
            <AppenderRef ref="ImportAppender"/>
        </Logger>

        <Logger name="analyzor.modele.utils.RequetesBDD" level="trace" additivity="false">
            <AppenderRef ref="GeneralAppender"/>
        </Logger>

        <Logger name="analyzor.modele.extraction.GestionnaireRoom" level="trace" additivity="true">
            <AppenderRef ref="GeneralAppender"/>
        </Logger>

        <Logger name="org.hibernate.SQL" level="info" additivity="true">
            <AppenderRef ref="HibernateAppender"/>
        </Logger>

        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="info" additivity="true">
            <AppenderRef ref="HibernateAppender"/>
        </Logger>


        <Root level="warn">
            <AppenderRef ref="ConsoleWarning"/>
        </Root>

    </Loggers>

</Configuration>
